#toolsPanel {
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 16px;
	margin-bottom: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

#ingredientsTable {
	margin-left: 16px;
	margin-right: 16px;
}
